# Production template

#Database
MONGODB_URI=mongodb+srv://anilgoswami:oPqDmKgxa5aOP0LT@alt-clust.myocttp.mongodb.net/pallate?retryWrites=true&w=majority&appName=alt-clust
# MONGODB_URI=mongodb+srv://satishchoudhary:5CYXO8ESQjZW5yP6@platestorage.kp51zes.mongodb.net/?retryWrites=true&w=majority&appName=PlateStorage
#Authentication JWT
JWT_SECRET=f9a8c92f3d8e4b7dbe9cfb0e9a5a76d41db43f8f58ec912b6e23a11a799e3bc6c8c2e8b5bcb8a897c2d39d3e5f4e0d32
JWT_EXPIRATION=7d
REFRESH_TOKEN_SECRET=f9a8c92f3d8e4b7dbe9cfb0e9a5a76d41db43f8f58ec912b6e23a11a799e3bc6c8c2e8b5bcb8a897c2d39d3e5f4e0d32
REFRESH_TOKEN_EXPIRATION=60d


#SMTP
SMTP_EMAIL=Startbitsolution@gmail.com
SMTP_PASSWORD=nznf mvit bnnz renf

#Application
PORT=3000

